
@import "bootstrap";
@import "~startbootstrap-sb-admin-2/scss/sb-admin-2";
@import "~startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';


$font-stack:    Helvetica, sans-serif;
$primary-color: #0575A2;
$size:16px;

h1 {
  font: 50% $font-stack;
  color: $primary-color;
  font-size:$size;
}
